#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
      <div class="panel-group" id="accordion">
         <div class="panel panel-default">
          <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="${symbol_pound}accordion" href="${symbol_pound}collapseOne"> 功能组 ${symbol_pound}1   </a>
           </h4>
         </div>
         <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="nav nav-sidebar">
            <li><a href="${symbol_pound}">Overview</a></li>
            <li><a href="${symbol_pound}">Reports</a></li>
            <li><a href="${symbol_pound}">Analytics</a></li>
            <li><a href="${symbol_pound}">Export</a></li>
         </ul>
          </div>
         </div>
         </div>
         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="${symbol_pound}accordion" href="${symbol_pound}collapseTwo"> 功能组 ${symbol_pound}2  </a>
             </h4>
           </div>
           <div id="collapseTwo" class="panel-collapse collapse">
             <div class="panel-body">
              <ul class="nav nav-sidebar">
                <li><a href="${symbol_pound}">Overview</a></li>
                <li><a href="${symbol_pound}">Reports</a></li>
                <li><a href="${symbol_pound}">Analytics</a></li>
                <li><a href="${symbol_pound}">Export</a></li>
              </ul>
             </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="${symbol_pound}accordion" href="${symbol_pound}collapseThree"> 功能组 ${symbol_pound}3  </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
               <div class="panel-body">
                                                          文字示例
               </div>
            </div>
           </div>
     </div>