#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
${symbol_pound}set(${symbol_dollar}page_title="用户信息样例 - ${appName}")

<div class="panel panel-primary">
  <div class="panel-heading">用户信息</div>
  <div class="panel-body">
  ${symbol_pound}if(${symbol_dollar}user)   
  <ul class="list-group">
   <li class="list-group-item list-group-item-success">${symbol_dollar}user.userId</li>
   <li class="list-group-item list-group-item-info">${symbol_dollar}user.userName</li>
   <li class="list-group-item list-group-item-warning"> ${symbol_pound}if(${symbol_dollar}user.gender=="M") 男   ${symbol_pound}else 女    ${symbol_pound}end </li>
   <li class="list-group-item list-group-item-danger">${symbol_dollar}user.age</li>
  </ul>
  ${symbol_pound}else
    <div class="alert alert-warning" role="alert">没有查到该数据</div>
  ${symbol_pound}end
  </div>
</div>


