#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
       <plugin interceptor="com.htffund.etrade.sdk.base.paginator.OffsetLimitInterceptor">
           <property name="dialectClass" value="com.htffund.etrade.sdk.base.paginator.dialect.OracleDialect"/>
       </plugin>
    </plugins>
</configuration>